@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto Slab', serif;
}

@mixin config-titles($prefix, $size...) {
  @each $i in $size {
    #{$prefix}#{nth($i, 1)} {
      font-size: nth($i, 2);
      font-family: nth($i, 3);
    }
  }
}
@include config-titles(
  'h',
  '1' 70px Bebas Neue,
  '2' 45px Bebas Neue,
  '3' 20px Bebas Neue,
  '4' 18px Bebas Neue,
  '5' 15px Bebas Neue,
  '6' 12px Lato
);
