@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import './colors';

body {
  font-family: 'Bangers', cursive;
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
}

@mixin config-titles($prefix, $size...) {
  @each $i in $size {
    #{$prefix}#{nth($i, 1)} {
      font-size: nth($i, 2);
      font-family: nth($i, 3);
    }
  }
}
@include config-titles(
  'h',
  '1' 70px Bebas Neue,
  '2' 25px Bebas Neue,
  '3' 20px Bebas Neue,
  '4' 18px Bebas Neue,
  '5' 15px Bebas Neue,
  '6' 12px Lato
);
