@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body {
  font-family: 'Roboto Slab', serif; }

h1 {
  font-size: 70px;
  font-family: Bebas; }

h2 {
  font-size: 45px;
  font-family: Bebas; }

h3 {
  font-size: 20px;
  font-family: Bebas; }

h4 {
  font-size: 18px;
  font-family: Bebas; }

h5 {
  font-size: 15px;
  font-family: Bebas; }

h6 {
  font-size: 12px;
  font-family: Lato; }

.StyTypo a {
  font-size: 20px; }

nav {
  background-color: #ffc107; }

.Section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.info-container-img {
  position: absolute;
  background: url("../img/camionCarga2.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%; }

.info-container-info {
  position: relative;
  margin: 0 2em 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center; }
  .info-container-info h1 {
    font-weight: 400;
    font-size: 55px; }
  .info-container-info .btn {
    width: 100px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block; }
  .info-container-info .orangebtn {
    background-color: #f39c12; }
    .info-container-info .orangebtn:hover {
      background-color: #b87914; }
  .info-container-info .blackbtn {
    background-color: #17202a; }
    .info-container-info .blackbtn:hover {
      background-color: #313335; }

#cont-sect {
  display: flex;
  flex-direction: column; }
  #cont-sect #cont-identidad {
    align-items: center;
    text-align: center; }
    #cont-sect #cont-identidad h1 {
      font-size: 60px; }
    #cont-sect #cont-identidad p {
      font-size: 25px; }
  #cont-sect .subcont-identidad {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    align-items: center; }
    #cont-sect .subcont-identidad .sucont {
      padding: 15px;
      margin: 1em;
      border-radius: 6px;
      -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
      -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
      box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
      width: 550px;
      min-height: 300px;
      margin-bottom: 1em; }
      #cont-sect .subcont-identidad .sucont p {
        font-size: 22px; }
      #cont-sect .subcont-identidad .sucont h3 {
        font-size: 40px; }
      #cont-sect .subcont-identidad .sucont ul {
        list-style: none;
        font-size: 25px; }

.w3-container {
  background-color: #ffc107;
  height: 100%; }
  .w3-container h2 {
    font-weight: 500; }
  .w3-container .w3-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 601px) {
      .w3-container .w3-row {
        width: 100%;
        flex-direction: column;
        margin-bottom: 0.5em;
        align-items: center; } }
    .w3-container .w3-row .w3-third {
      width: 20%;
      text-align: center;
      font-size: 1.5em; }
      @media (min-width: 601px) {
        .w3-container .w3-row .w3-third {
          width: auto; } }
      @media (max-width: 601px) {
        .w3-container .w3-row .w3-third {
          width: 100%;
          margin-bottom: 0.5em; } }
  .w3-container .w3-container.city {
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin-top: 1em; }
    .w3-container .w3-container.city .btn {
      width: auto;
      background-color: #f39c12; }
    .w3-container .w3-container.city h2 {
      text-align: center;
      margin-bottom: 0.5em; }
    .w3-container .w3-container.city p {
      text-align: center;
      font-size: 1.5em;
      margin: 0 10%; }

.services-info .btn {
  width: auto;
  background-color: #17202a;
  border-color: #17202a; }

.cont-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffc107;
  margin-top: 100px; }
  .cont-footer .responsive {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0; }
    .cont-footer .responsive .colu {
      margin-bottom: 1em;
      width: 600px; }
    .cont-footer .responsive .img-icon {
      max-height: 70px;
      margin-bottom: 1.5em; }
    .cont-footer .responsive span {
      font-size: 20px; }

.modal-dialog {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%; }

.dropdown {
  width: 100%; }
  .dropdown .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .dropdown .dropdown-menu {
    width: 100%; }

.modal-footer .btn.btn-secondary {
  background-color: #17202a;
  border-color: #17202a; }
.modal-footer .btn.btn-primary {
  background-color: #f39c12;
  border-color: #f39c12; }

/*# sourceMappingURL=style.css.map */
