// alinear al centro
@mixin FlexCenter($altura,$direc) {
    height: $altura;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direc;
}
.Section1{
    @include FlexCenter(100vh,row);
    
}
.info-container-img{
    width: 100%;
    position: absolute;
    background: url("../img/camionCarga2.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
}
.info-container-info{
    position: relative;
    left: -250px;
    top: -110px;
    h1{
        color: $negro;
        font-size: 85px;
    }
}
.info-container-btn{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -950px;
    top: 65px;
    .btn{
        margin-left: 10px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
        border: 0.05em solid black;
        font-size: 19px;
        font-size: 20px;
    }
    .orangebtn{
        background-color: $naranja;
    }
    .blackbtn{
        background-color: $negro;
    }
}
.orangebtn:hover{
    background-color: rgb(184, 121, 20);
}
.blackbtn:hover{
    background-color: rgb(49, 51, 53);
}