.StyTypo .logonav {
  margin-right: 20px;
}

.StyTypo a {
  font-size: 25px;
}

.Section1 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-container-img {
  width: 100%;
  position: absolute;
  background: url("../img/camionCarga2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  width: 100%;
}

.info-container-info {
  position: relative;
  left: -250px;
  top: -110px;
}

.info-container-info h1 {
  color: #17202A;
  font-size: 85px;
}

.info-container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  left: -950px;
  top: 65px;
}

.info-container-btn .btn {
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border: 0.05em solid black;
  font-size: 19px;
  font-size: 20px;
}

.info-container-btn .orangebtn {
  background-color: #F39C12;
}

.info-container-btn .blackbtn {
  background-color: #17202A;
}

.orangebtn:hover {
  background-color: #b87914;
}

.blackbtn:hover {
  background-color: #313335;
}

#cont-sect {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cont-sect #cont-identidad {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#cont-sect #cont-identidad h1 {
  font-size: 60px;
}

#cont-sect #cont-identidad p {
  font-size: 25px;
}

#cont-sect .subcont-identidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont-sect .subcont-identidad .sucont {
  padding: 15px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 65px;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
  width: 550px;
}

#cont-sect .subcont-identidad .sucont p {
  font-size: 22px;
}

#cont-sect .subcont-identidad .sucont h3 {
  font-size: 40px;
}

#cont-sect .subcont-identidad .sucont ul {
  list-style: none;
  font-size: 25px;
}

body {
  background-color: #ECF0F1;
  font-family: 'Bangers', cursive;
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */