@import "./nav";
@import "./colors";
@import "./section1";
@import "./section2";

body{
    background-color: $body;
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
