@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
  font-family: 'Bangers', cursive;
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
}

h1 {
  font-size: 70px;
  font-family: Bebas;
}

h2 {
  font-size: 25px;
  font-family: Bebas;
}

h3 {
  font-size: 20px;
  font-family: Bebas;
}

h4 {
  font-size: 18px;
  font-family: Bebas;
}

h5 {
  font-size: 15px;
  font-family: Bebas;
}

h6 {
  font-size: 12px;
  font-family: Lato;
}

.StyTypo .logonav {
  margin-right: 20px;
}

.StyTypo a {
  font-size: 25px;
}

.Section1 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-container-img {
  position: absolute;
  background: url("../img/camionCarga2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.info-container-info {
  position: relative;
  margin: 0 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.info-container-info h1 {
  color: #17202a;
  font-weight: 500;
}

.info-container-info .btn {
  margin-left: 10px;
  border-radius: 5px;
  display: inline-block;
}

.info-container-info .orangebtn {
  background-color: #f39c12;
}

.info-container-info .orangebtn:hover {
  background-color: #b87914;
}

.info-container-info .blackbtn {
  background-color: #17202a;
}

.info-container-info .blackbtn:hover {
  background-color: #313335;
}

#cont-sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cont-sect #cont-identidad {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#cont-sect #cont-identidad h1 {
  font-size: 60px;
}

#cont-sect #cont-identidad p {
  font-size: 25px;
}

#cont-sect .subcont-identidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont-sect .subcont-identidad .sucont {
  padding: 15px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 65px;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.42);
  width: 550px;
}

#cont-sect .subcont-identidad .sucont p {
  font-size: 22px;
}

#cont-sect .subcont-identidad .sucont h3 {
  font-size: 40px;
}

#cont-sect .subcont-identidad .sucont ul {
  list-style: none;
  font-size: 25px;
}

.w3-container {
  background-color: #ffc107;
  max-height: 500px;
  height: 100%;
}

.w3-container h2 {
  font-size: 2.5em;
  font-weight: 500;
}

.w3-container .w3-row .w3-third {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
}

.w3-container .w3-container.city h2 {
  text-align: center;
  margin-bottom: 1em;
}

.w3-container .w3-container.city p {
  text-align: center;
  font-size: 1.5em;
  margin: 0 10%;
}

.cont-footer {
  margin-top: 150px;
  text-align: center;
  background-color: #ffc107;
  position: absolute;
  width: 100%;
}

.cont-footer .col {
  position: relative;
  top: -50px;
}

.cont-footer .img-icon {
  height: 80px;
  margin-bottom: 25px;
}

.cont-footer span {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */