.cont-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $nav-bar-color;
  margin-top: 100px;
  .responsive {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    .colu {
      margin-bottom: 1em;
      width: 600px;
    }
    .img-icon {
      max-height: 70px;
      margin-bottom: 1.5em;
    }
    span {
      font-size: 20px;
    }
  }
}
