.w3-container {
  background-color: $nav-bar-color;
  max-height: 600px;
  height: 100%;
  h2 {
    font-weight: 500;
  }
  .w3-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    .w3-third {
      width: 20%;
      text-align: center;
      font-size: 1.5em;
      @include sm {
        width: auto;
        text-align: center;
      }
    }
  }

  .w3-container.city {
    justify-content: center;
    align-self: center;
    flex-direction: column;
    .btn {
      width: auto;
    }
    h2 {
      text-align: center;
      margin-bottom: 1em;
    }
    p {
      text-align: center;
      font-size: 1.5em;
      margin: 0 10%;
    }
  }
}
